::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}
.hidden {
  display: none;
}
.main-content {
  padding-left: 130px;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 40px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  padding: 12px 35px;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1s);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/*abou*/
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 17px;
  line-height: 25px;
  color: var(--text-black-900);
}
.about .about-content .personal-info .info-item {
  flex: 0 0 100%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-900);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info {
  flex: 0 0 100%;
  max-width: 50%;
  margin-top: 40px;
}
.about .about-content .personal-info .button {
  margin-top: 30px;
}
.about .about-content .personal-info .button .btn {
  margin-right: 15px;
  margin-top: 10px;
}
.about .about-content .skills {
  flex: 0 0 100%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);

  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
  color: var(--bg-black-900);
}
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add smooth transitions for both transform and box-shadow */
  box-shadow: rgba(58, 4, 195, 0.1) 0px 19px 38px,
    rgba(58, 4, 195, 0.1) 0px 15px 12px;
  /* box-shadow: 10px 10px 10px 10px rgba(58, 4, 195, 0.1); */
}
.about .about-content .timeline .timeline-items {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-items:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-items::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date {
  font-weight: 400px;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
  margin-left: 33px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-title-p {
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text {
  line-height: 20px;
  font-size: 12px;
  text-align: justify;
  color: var(--text-black-900);
}
@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .main-content {
    padding: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
  }
}
@media (max-width: 991px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 925px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .contact .contact-info-item,
  .contact .contact-form .col-6,
  .service .service-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
